@font-face {
    font-family: Source Sans Pro;
    src: url("../fonts/SourceSansPro-Regular.ttf");
}
body{
	font-family: Proxima Nova,"Source Sans Pro",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.required {
    color: #b94a48;
}
.required:after {
    content: "*";
    color: #b94a48;
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.42857;
	text-align: left !important; 
}
.col-form-modal-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.42857;
    text-align: right !important; 
}
label {
    font-weight: 400;
}
.ac-box .ac-selected {
    cursor: pointer;
    text-align: left;
    /*height: 33px;*/
    padding: 1px 12px;
	margin-left: 2px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    line-height: 28px;
    color: #444;
    text-decoration: none;
    border-radius: 2px;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ac-box .btn-danger{
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.form-control {
    display: block;
    width: 100%;
    /*height: 32px;*/
    padding: .375rem .75rem;
    /*font-size: 1rem;*/
    line-height: 1.42857;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.grey-bg {
    background-color: #fbfafa;
	padding: 28px 15px 20px 0px;
}
.dropdown-noborder{
	display: inline-flex;
    padding: 0 20px;
}
.dropdown-noborder .form-control 
{
	border-color: #fff;
    border-bottom: 1px dashed #b0c0d6;
    font-size: 12px;
	box-shadow: none;
}

.form-control:focus{
	border : 1px solid #b0c0d6
}
.my-group .form-control{
    width:60%;
}
.discountPicker{
	padding:0px;
	width:40% !important;
	background: #fbfafa;
}
.line-item-table thead tr th{
	background-color: #f9f9f9;
	font-weight: 600;
	color: #777;
}
.text-right {
    text-align: right!important;
}
.total-section .total-row .total-label {
    display: inline-block;
    color: #777666;
    min-height: 28px;
    width: 70%;
    border-top: 1px solid #eee;
    padding: 10px 1%;
}
.total-section .total-row .total-amount {
    float: right;
    padding: 10px 1.5%;
    border-top: 1px solid #eee;
    min-height: 28px;
    width: 30%;
    margin-left: -1%;
    text-align: right;
    color: #777666;
}
.total-section .total-row.sub-total .total-amount, .total-section .total-row.sub-total .total-label {
    border: none;
}
.total-section .total-row .total-label.supporting-acc-field {
    border-top: 0;
    padding-bottom: 5px;
}
.gross-total{
    background-color: #f9f8f8;
    border: 1px solid #ececec;
	margin-bottom: 45px;
	font-size: 16px;
}
.gross-total-removemargin{
    background-color: #f9f8f8;
    border: 1px solid #ececec;
	font-size: 16px;
}
.input-attch{
	display: inline-block;
	width: 50%;
	position: absolute;
	left: 0;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}

.attch-section{
	display: inline-block;
}
.attch-section .input-group{
	position: relative;
	left: 0;
}
.btn-attch{
	color: #333;
    background-color: #ddd;
    border-color: #ccc;
	cursor:pointer;
	margin-left: -2px;
}
.btn-attch:hover,.btn-attch:focus {
	color: #212529;
    background-color: #e2e2e2;
    border-color: #c6c6c6;
}
.notes-sec{
	border-left: 1px solid #eee;
}
.txn-buttons{
	padding: 15px;
}
.table-bordered>tbody>tr>td{
	padding-top: 8px;
    padding-bottom: 8px;
}
.bill-item-dbt{
	width: 28%;
}
.bill-item{
	width: 11%;
}
.bill-acc{
	width: 15%;
}
.item-img{
	width: 5%;
}
.item-qty{
	width: 7%;
}
.item-cost{
	width: 10%;
}
.item-discount{
	width: 12%;
}
.item-tax{
	width: 13%;
}
.item-custmr{
	width: 18%;
}
.item-amount{
	width: 12%;
}
.bill-action{
	cursor: pointer;
    font-size: 15px;
    opacity: 0.4;
    position: absolute;
    right: -18%;
    top: 15px;;
}
.bill-item input, .bill-acc input, .item-qty input, .item-cost input, .item-discount input, .item-tax input, .item-custmr input, .item-amount input{
	border: none;
    box-shadow: none;
}
.item-img span{
	font-size:25px;
	opacity:0.2;
}
.select-icon{
	position: absolute;
    right: 20px;
    top: 13px;
    z-index: 2;
    vertical-align: middle;
    font-size: 10px;
    opacity: 0.5;
}
.pay-select-icon{
	position: absolute;
    right: 20px;
    top: 30px;
    z-index: 2;
    vertical-align: middle;
    font-size: 10px;
    opacity: 0.5;
}
.item-suggestion{
	display:inline-block;
	margin-bottom:0px;	
}
.bill-item>span.twitter-typeahead .tt-menu,
.bill-item>span.twitter-typeahead .tt-dropdown-menu {
	width:180%;
}
.item-tax>span.twitter-typeahead .tt-menu,
.item-tax>span.twitter-typeahead .tt-dropdown-menu {
	width:auto;
}

#supplierModal .modal-content,#productModal .modal-content,#customerModal .modal-content,#employeeModal .modal-content,#uae-taximportadjustmentModal .modal-content{
	background: rgb(255, 255, 255);
}

#supplierModal .modal-header, #productModal .modal-header, #customerModal .modal-header, #employeeModal .modal-header, #uae-taximportadjustmentModal .modal-header{
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
}
#supplierModal .modal-footer, #productModal .modal-footer, #gstModal .modal-footer, #payTermsModal .modal-footer, #customerModal .modal-footer, #employeeModal .modal-footer, #uae-taximportadjustmentModal .modal-footer{
	text-align : left;
}
.modal-sub-header{
	margin-left: -15px;
    margin-right: -15px;
    padding: 3px 15px;
}
.table thead{
	font-family:'Proxima Nova', 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.auto-icon{
	position: absolute;
    right: 20px;
    top: 8px;
    z-index: 2;
    vertical-align: middle;
    font-size: 10px;
    opacity: 0.5;
}
.nav-tabs li a:hover {
     background-color: #00c0ef;
}
.error-msg
{
	color: red;
}
.success-msg
{
	color: green;
}
.taxdropdown
{
	background: none;
    -webkit-appearance: none;
    color: #337ab7;
    height: 27px;
    
}
.pl-1 {
    padding-left: 5px!important;
    color: #2a74be!important;
    font-size: 15px!important;
}
.pl-2 {
    padding-left: 5px!important;
    color: #ccc;
    font-size: 15px;
}
.mspan span:hover,
.mspan span:hover:before,
.mspan span:hover:after {
    color: #2a74be;
}
.bspan span:hover,
.bspan span:hover:before,
.bspan span:hover:after {
    color: #ccc; 
}
.report-section {
margin-bottom: 30px;
}
.select-search {
position: absolute;
right: 14px;
top: 1px;
padding: 7px 14px;
}
.backpageul
{
	background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    margin-bottom: 0px;
    margin-top: 15px;
}
.underline-on-hover:hover {
  		text-decoration: underline;
	}